.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  min-height: 400px;
  width: 440px;
  & > h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
  }
  & > h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #6d7280;
    & > button {
      border: none;
      background-color: transparent;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      color: #6800ec;
      cursor: pointer;
    }
  }
  & > label {
    padding: 5px;
    color: #757575;
  }
  & > input {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: transparent;
    border: #757575 1px solid;
    border-radius: 10px;
    color: #000000;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #6d7280;
  }
  & > button {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 5px 35px;
    margin-top: 10px;
    border-radius: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #6d7280;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    &:hover {
      background-color: #6800ec;
      color: #ffffff;
    }
  }
}

.message {
  padding: 5px;
  min-height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #ff0000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
