.blogMain {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  min-height: 936px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blogTop {
  width: 100%;
  height: 100%;
  height: 720px;
  background-color: #c4c4c4;
  position: relative;
}

.blogBottom {
  z-index: 10;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.blogCardHeader {
  z-index: 10;
  background-color: #ffffff;
  border: #ffffff 1px solid;
  width: 100%;
  padding: 40px;
  height: 338px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -124px;

  & h1 {
    margin: 0;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #272343;
  }
  & > div {
    margin: 0;
    display: flex;
    gap: 21px;
  }
  & h4 {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6d7280;
  }
  & p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6d7280;
  }
  & > button {
    background-color: #fb743e;
    padding: 12px 29px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    cursor: pointer;
  }
}

.blogCardData {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & h3 {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6d7280;
  }
  & h6 {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #6d7280;
  }
}
.blogCardWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}
.blogCardLeft {
  width: 100%;
  max-width: 224px;
  & h4 {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6d7280;
  }
}
.blogCardRight {
  width: 100%;
  max-width: 872px;
  & h2 {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #272343;
    margin-bottom: 16px;
  }
  & strong {
    display: block;
    font-family: "Poppins", cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: #494b5c;
    padding: 12px 0 12px 24px;
    border-left: #fb743e solid 2px;
    margin-bottom: 60px;
  }
  & h3 {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #272343;
    margin-bottom: 32px;
  }
  & h4 {
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #272343;
    margin-bottom: 8px;
  }
  & p {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6d7280;
    margin-bottom: 24px;
  }
}
.blogBtn {
  width: 100%;
  max-width: 330px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #ffffff;
  background-color: #fb743e;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.blogBottomBtn {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 42px;
  width: 100%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  & p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #272343;
  }
}
.blogShare {
  display: flex;
  justify-content: center;
  align-items: center;
}
