.footer {
  min-height: 400px;
  background-color: #272343;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.container {
  width: 100%;
  max-width: 1320px;
}

.topWrapper {
  min-height: 350px;
  width: 100%;
  padding: 100px 20px 0 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  & h5 {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    opacity: 0.6;
  }
  & h4 {
    margin: 0;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
  }
  & ul {
    padding: 0;
    margin: 0;
    margin-top: 24px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    & li {
      margin: 0;
      padding-top: 10px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;

      color: #ffffff;

      opacity: 0.6;
    }
  }
}
.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logoWrapper {
  max-width: 340px;
}
.emailWrapper {
  max-width: 450px;
  & button {
    margin-left: 8px;
    border: none;
    background: #fb743e;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    padding: 13px 22px;
  }
  & input {
    width: 100%;
    max-width: 300px;
    border: none;
    background: #ffffff;
    opacity: 0.06;
    padding: 16px;
  }
}
.inputWrapper {
  margin-top: 23px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomWrapper {
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: #ffffff 1px solid;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #ffffff;
  opacity: 0.6;
}
