.header {
  width: 100%;
  background-color: #ffffff;
  height: 80px;
  align-items: center;
}
.container {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchField {
  margin-left: 24px;
  width: 100%;
  max-width: 312px;
  background-color: #6d728005;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.searchInput {
  border: none;
  background-color: transparent;
  padding-left: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6d7280;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
.btnSignIn {
  border: none;
  padding: 12px 12px;
  background-color: transparent;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6d7280;
  transition: background-color 0.5s, color 0.5s;
  &:hover {
    background-color: #6d728050;
    color: #ffffff;
  }
}
.btnSignUp {
  margin-left: 12px;
  border: none;
  padding: 12px 12px;
  background-color: #6d7280;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  transition: background-color 0.5s;
  &:hover {
    background-color: #6d728050;
  }
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  & > ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > li {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6d7280;
    }
    & a {
      text-decoration: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6d7280;
    }
  }
}
