.carouselCard {
  z-index: 10;
  background-color: #ffffff;
  border: #ffffff 1px solid;
  width: 650px;
  padding: 40px;
  height: 452px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin-right: -124px;
  & > h3 {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #272343;
  }
  & > h1 {
    margin: 0;
    font-family: "PT Serif";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    color: #272343;
  }

  & h4 {
    margin: 0;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6d7280;
  }
  & p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6d7280;
  }
  & > button {
    background-color: #fb743e;
    padding: 12px 29px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    cursor: pointer;
  }
}
.carouselDate {
  margin: 0;
  display: flex;
  gap: 21px;
}
.carouselText {
  margin-bottom: 10px;
}
